<!DOCTYPE html>

@using WebSchedule.Other;
@using WebSchedule.Models;
@using WebSchedule.Schedule.Getter;

@model ScheduleApi;

<html lang="ru">
<head>
	<title>Главная</title>

	<meta charset="utf-8" />
</head>

<body>
	<!-- Считываем куки. -->
	@{
		if (!Extensions.CookiesReaded)
		{
			try
			{
				IRequestCookieCollection? cookies = Context.Request.Cookies;

				if (cookies.ContainsKey("UseDataBase"))
				{
					ScheduleApi.UseDataBase = cookies["UseDataBase"] == "on";
				}

				if (cookies.ContainsKey("SelectUnsecure"))
				{
					ScheduleApi.SelectUnsecure = cookies["SelectUnsecure"] == "on";
				}

				if (cookies.ContainsKey("UseDarkTheme"))
				{
					Extensions.UseDarkTheme = cookies["UseDarkTheme"] == "on";
				}
			}

			catch (NullReferenceException)
			{

			}

			Extensions.CookiesReaded = true;
		}
	}

	<div style="margin-top:5%">
		<h1 class="display-4" style="text-align:center">Поиск</h1>
		<div style="font-family:'Georgia Pro'; text-align:center; margin-top:15px;">
			<form>
				<input id="searchBox" name="groupName" type="search" class="rounded-pill border-primary" style="width:75%; background-color: @(Extensions.UseDarkTheme ? "rgb(49,69,89)" : "white");
				text-align:center;" placeholder="Название группы..." spellcheck />
				<br /> <br />

				<button class="btn btn-outline-primary" style="width:25%" type="submit" formmethod="get" asp-controller="Home" asp-action="Search">Искать</button>
			</form>
		</div>

		<h2 class="display-6" style="text-align:center; margin-top:40px;">Описание</h2>
		<div style="font-family:'Georgia Pro'; text-align:center;">
			<p>
				При поиске будут проанализированы возможные совпадения групп. <br />
				Если будет обнаружено всего одно сопадение, Вы сразу перейдете к выбору дня для отображения расписания.
			</p>

			<p>
				В ином случае Вы будете перенаправлены на страницу результатов поиска.
			</p>
		</div>
	</div>
</body>
</html>
