html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a.important-link:hover {
    background-size: 100% 2px;
    text-decoration: underline;
    font-size: 115%;
}

/* Область смены размера шрифтов от размера экрана. */
@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 1.15rem;
    }
}

@media (min-width: 2120px) {
    html {
        font-size: 1.25rem;
    }
}

@media (min-width: 3080px) {
    html {
        font-size: 1.40rem;
    }
}
/* Конец области. */

/* Событие наведения на дополнительные ссылки для ПК. */
@media (min-width: 681px) {
    nav.navbar .dropdown:hover > .dropdown-menu {
        display: block;
    }
}

/* Сворачивание дополнительных ссылок на мобильных устройствах. */
@media (max-width: 550px) {
    li.side-links {
        visibility: hidden;
        display: none;
    }
}
