<!DOCTYPE html>

@model ErrorViewModel

<html>
<head>
    <title>Ошибка — Расписание УКСИВТ</title>

    <style>
        a:hover {
            background-size: 100% 2px;
            font-size: 200%;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1 class="text-danger">Ошибка!</h1>
    <h2 class="text-danger">"Что-то произошло и все сломалось..."</h2>

    @if (Model?.ShowRequestId ?? false)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model?.RequestId</code>
        </p>
    }

    <h3>Обработка ошибки</h3>
    <div>
        <p>
            Во время выполнения Вашего запроса произошла непредвиденная ошибки
            (к примеру, удалённый сервер получения замен оказался недоступен).
        </p>

        <p>
            <strong>Не стоит паниковать</strong>.
            Такое вполне случается. Скорее всего, через некоторое время система заработает сама.
        </p>

        <p>
            Если же система недоступна в течение большого промежутка времени, пожалуйста, свяжитесь с автором.
            Ссылки для связи доступны на странице <i>'<a asp-controller="Home" asp-action="Info">Информация</a>'</i>.
        </p>
    </div>
</body>
</html>
