<!DOCTYPE html>

<html lang="ru">
	<head>
		<title>Соглашение</title>

		<meta charset="utf-8" />
	</head>

	<body>
		<h1 class="display-4" style="text-align:center">Соглашение</h1>
		<div>
			<h2 class="display-6">Что такое куки-файлы?</h2>
			<p>
				Куки-файлы – это маленькие текстовые файлы или небольшие фрагменты данных, которые 
				загружаются на Ваш компьютер или мобильное устройство (например, смартфон или планшет) при посещении сайтов. 
				Куки-файлы обычно содержат название сайта, с которого они были получены, «срок действия» куки-файлов 
				(т.е. как долго они будут оставаться на устройстве) и уникальный номер, генерируемый случайным образом.
			</p>

			<h2 class="display-6">Для чего нужны куки?</h2>
			<p>
				Мы используем куки-файлы для того, чтобы нашими Сайтами было легче пользоваться, и чтобы адаптировать контент Сайта к предпочтениям пользователя. 
				Веб-сайты умеют читать и размещать куки-файлы, что позволяет им распознавать пользователя и запоминать важную информацию о пользователе, 
				чтобы сайты стали удобнее в использовании (например, запоминая предпочитаемые настройки).
			</p>

			<p>
				Мы не можем идентифицировать личность пользователя на основании этой информации.
			</p>

			<h2 class="display-6">Какие типы куков используются?</h2>
			<p>
				Мы используем два вида куки-файлов – "куки сеанса (сессии)" и "постоянные куки". 
			</p>
			<p>
				Куки сеанса – это временные файлы, которые остаются на устройстве, пока Вы не покинете Сайт. 
				Такие куки создаются автоматически и никак не используются самим сайтом, однако они создаются, что вынуждает отметить их. 
			</p>
			<p>
				Постоянные куки остаются на устройстве в течение длительного времени или пока Вы вручную не удалите их 
				(как долго куки-файл останется на вашем устройстве будет зависеть от продолжительности или «срока действия» конкретного файла).
				Такие куки создаются сайтом и используются для сохранения настроек.
			</p>

			<h2 class="display-6">Третьи лица</h2>
			<p>
				Собранная в куках информация не передается третьим лицам и используется только для сохранения настроек пользователя.
			</p>
			</div>

		<div>
			<h2 class="display-6">Какие куки файлы используются на сайте?</h2>
			<p>
				В списке ниже представлен ряд используемых сайтом куков. <br/>
				Помните, что все эти типы могут быть отключены или удалены, в зависимости от того, как пользователь настроил свой браузер.
			</p>

			<ul>
				<li>
					Источник данных — сохраняет данные о том, откуда сайт будет брать данные об оригинальном расписании.
				</li>

				<li>
					Выбирать небезопасные значения — сохраняет данные о том, будут ли выбираться небезопасные значения, при заборе их из Базы Данных.
				</li>

				<li>
					Использовать темную тему — сохраняет данные о том, предпочитает ли пользователь темную тему взамен стандартной светлой.
				</li>
			</ul>
		</div>

		<div>
			<h2 class="display-6">Как обращаться с куками?</h2>
			<p>
				Несмотря на то, что большинство интернет-браузеров изначально настроены автоматически принимать куки-файлы, 
				Вы можете изменить настройки таким образом, чтобы блокировать куки-файлы или предупреждать пользователя, когда файлы данного типа будут отправлены на устройство.
			</p>
			<p>
				Также Вы можете отказаться, принять или удалить куки-файлы с Сайта в любое время путем изменения настроек Вашего браузера. 
				Пожалуйста, обратитесь к инструкции на официальном сайте Вашего браузера для того, чтобы узнать о том, как включить, отключить или удалить куки-файлы.
			</p>
			<p>
				Обращаем внимание, что при удалении или блокировке куков Ваши настройки не будут сохраняться между сессиями пользования сайтом.
			</p>
			<p>
				Если Вы используете разные устройства для просмотра и доступа к Сайтам (например, Ваш компьютер, смартфон, планшет и т.д.), 
				Вы должны убедиться, что каждый браузер на каждом устройстве настроен в соответствии с Вашей точкой зрения на работу с файлами куки-файлами.
			</p>

			<h2 class="display-6">Обратная связь</h2>
			<p>
				 Если у Вас возникли вопросы, Вы можете связаться с автором по адресу: <a class="text-dark" style="text-decoration:underline" href="mailto:almgal353@gmail.com">Google-почта</a>.
			</p>
			<p>
				 Обращаем Ваше внимание, что использование электронной почты не всегда безопасно; 
				 никогда не посылайте информацию касаемо Вашей кредитной карты или любую другую конфиденциальную информацию нам по электронной почте.
			</p>
		</div>
	</body>
</html>
