<!DOCTYPE html>

@using WebSchedule.Other
@using WebSchedule.Schedule.Getter
@model ScheduleModel;

<html lang="ru">
<head>
	<title>@Model.GroupName — Выбор дня</title>

	<meta charset="utf-8" />
</head>

<body>
	<!-- Считываем куки. -->
	@{
		if (!Extensions.CookiesReaded)
		{
			try
			{
				IRequestCookieCollection? cookies = Context.Request.Cookies;

				if (cookies.ContainsKey("UseDataBase"))
				{
					ScheduleApi.UseDataBase = cookies["UseDataBase"] == "on";
				}

				if (cookies.ContainsKey("SelectUnsecure"))
				{
					ScheduleApi.SelectUnsecure = cookies["SelectUnsecure"] == "on";
				}

				if (cookies.ContainsKey("UseDarkTheme"))
				{
					Extensions.UseDarkTheme = cookies["UseDarkTheme"] == "on";
				}
			}

			catch (NullReferenceException)
			{

			}

			Extensions.CookiesReaded = true;
		}
	}

	<h1 class="display-4" style="text-align:center">День недели</h1>
	<div style="text-align:center; font-family:'Georgia Pro';">
		<p>
			Остается выбрать день недели для получения итогового расписания.
		</p>
	</div>

	<h2 class="display-6" style="text-align:center; margin-top:3%;">Выбор</h2>
	<div style="text-align:center; font-family:'Georgia Pro';">
		<p>
			Нажмите на интересующий Вас день.
		</p>

		@{
			for (int i = 0; i < 7; i++)
			{
				String name = i.GetDayByIndex();

				<p>
					<a class="btn btn-outline-primary" asp-controller="Schedule" asp-action="Final" asp-route-groupName=@Model.GroupName asp-route-dayIndex=@i>@name</a>
				</p>
			}
		}
	</div>
</body>
</html>
